<ion-header>
  <ion-toolbar>
    <!-- <ion-title>rolegestion</ion-title> -->
    <ion-back-button defaultHref="/debut" slot="start" color="primary"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h1 class="text">Veiller Choisir votre Rôle et vous inscrire en tant quel tel sur Ki-Lakodon</h1>
  
  <br>
  <ion-list class="liste">
  <ion-item class="selection">
    <!-- <ion-select interface="action-sheet" placeholder="Type de compte" name="role" [(ngModel)]="role" (ionChange)="onRoleSelect($event)"></ion-select> -->
    <ion-select interface="action-sheet" placeholder="Type de compte" name="role" [(ngModel)]="role" (ionChange)="onRoleSelect($event)">
      <ng-container *ngFor="let role of Listerole">
        <ion-select-option [value]="role.id" *ngIf="role.name !== 'ROLE_ADMIN' && role.name !== 'ROLE_USER'">{{role.name}}</ion-select-option>
      </ng-container>
    </ion-select>
  </ion-item>
</ion-list>
  <br>
  <!-- </form> -->

</ion-content>
