ion-tab-bar{
    border-radius: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    --background: #29B6F6;
    border: 2px solid white;
    /* border-top-left-radius: 30px; */
    /* border-top-right-radius: 30px; */
    padding-right: 5px;
    padding-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
}
.notificat{
    margin-right: 5%;
}
.accueil{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    /* margin-left: 0%; */
}
.tab{
    background-color: #11ffeeff;
}
// ion-tabs{
//     background: none;
// }
ion-label{
    font-family: 'Poppins';
    font-size: 10px;
    align-items: center;
    color: black;
}
ion-label:hover{
    color: white;
}
// ion-label:active{
//     // background-color: antiquewhite;
//     color: white;
// }
ion-icon{
    color: black;
}
ion-icon:hover{
    color: white;
}
ion-badge{
    position: absolute;
    font-size: 8px;
    right: -3px;
    top: 15px;
}
ion-tab-button:active{
    color: white;
}
// ion-button {
//     width: 40px;
//     height: 40px;
//     position: relative;
//     overflow: visible !important;
//     color: #6A9A8B;
// }
// .notiff ion-button {
//     align-items: flex-end;
//     float: right;
// }
// .not{
//     margin-top: 20px;
// }
// ion-buttons.notiff.sc-ion-buttons-md-h.sc-ion-buttons-md-s.md.hydrated {
//     float: right;
//     margin-left: 80%;
// }