ion-content {
    width: calc(100% + 20px);
    --padding-end: 20px !important;
  }
  
  ion-content::part(scroll) {
    margin-right: -20px;
  }
.tout{
    --background: #ff14931a;
    margin: auto;
}
#form{
    margin-top: 15%;
    padding-left: 30px;
    padding-right: 30px;
}
img{
    display: flex;
    margin: auto;
    width: 40%;
    height: 20%;
    margin-top: 15px;
}
#header{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}
.btnn{
    font-family: monospace;
    height: 50%;
    width: 25%;
    font-size: 14px;
    padding: 5px;
}
h1 {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 42px;
text-align: center;
margin-top: -15%;

color: #000;

}
.Connectez{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height */

text-align: center;
position: relative;
top: -5%;
margin: auto;

color: #000;
}
.principale{
    /*display: flex; */
    justify-content: center;
    --background: #bbe3f6;
    width: 85%;
    align-items: center;
    margin: auto;
    // transform: translateY(0);
    // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.aniamated{
    --webkit-animation-duration:5s;
    animation-duration :5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  @-webkit-keyframes bounceInUp{
    0%{
      opacity: 0;
      -webkit-transform :translateY(2000px);
    }
    60%{
      opacity: 1;
      -webkit-transform :translateY(-30px);
    }
    80%{
      
      -webkit-transform :translateY(10px);
    }
    100%{
     
      -webkit-transform :translateY(0);
    }
  }
  .bounceInUp{
    -webkit-animation-name: bounceInUp;
    animation-name: bounceInUp;
  }
  @keyframes bounceInUp{
    0%{
      opacity: 0;
      -webkit-transform :translateY(2000px);
    }
    60%{
      opacity: 1;
      -webkit-transform :translateY(-30px);
    }
    80%{
      
      -webkit-transform :translateY(10px);
    }
    100%{
      
      -webkit-transform :translateY(0);
    }
  }
ion-input{
    margin: auto;
    width: 90%;
    margin-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    height: 48px;

    font-size: 18px;
    text-transform: initial;
    border-radius: 50px;
    box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
    --box-shadow:none;
    border: 0.5px solid rgba(255, 193, 7, 0.3607843137);
    text-align: center;
    
}
.connexion{
    padding-left: 30px;
    padding-right: 30px;
    height: 48px;
    font-size: 18px;
    text-transform: initial;
    border-radius: 50px;
    box-shadow: 1px 8px 8px 0px rgb(0 0 0 / 5%);
    --box-shadow: none;
}
.mpo{
    justify-content: end;
    /* text-align: end; */
    /* margin-top: 5px; */
    padding-left: 90px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #EA4335;
    display: flex;

}
.compte{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-align: center;

color: #616161;
}
// .creer{
//     position: relative;
//     left: 38%;
//     // top: -10%;
//     font-family: 'Poppins';
// font-style: normal;
// font-weight: 500;
// font-size: 12px;
// line-height: 24px;
// /* identical to box height */

// text-align: center;
// color: #000;
// top: -2px;
// }
.creer{
    display: flex;
    /* margin-top: -15px; */
    padding-left: 90px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    justify-content: space-around;
}
ion-icon{
    color: #29B6F6;
    // margin: auto;
    // display: flex;
}
.google{
    // margin: auto;
    // display: flex;
    justify-content: start;
    position: relative;
    left: 25%;
    width: 10%;
    height: 10%;
}
.facebook{
    position: relative;
    left: 35%;
    margin: auto;
    justify-content: center;
    width: 10%;
    height: 10%;
    // display: flex;
}
.github{
    position: relative;
    left: 45%;
    width: 10%;
    height: 10%;
    //  
    justify-content: end;
    // display: flex;
}