<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>
 -->
 <ion-header [translucent]="true" class="header">
  <ion-toolbar color="">
    <ion-buttons slot="start" class="menu_btn">
      <ion-back-button defaultHref="#" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title style="--text-color: #000;">
      Tâche
    </ion-title>
    <ion-icon name="notifications-outline" slot="end" style="height: 20px; width: 20px;     height: 20px;
    width: 20px;
    font-size: 45px;
    position: relative;
    margin-right: 30px;
    color: black;
    z-index: 111;" ></ion-icon>
    <ion-badge id="notifications-badge-msg" color="danger">3</ion-badge>
    <img src="../../assets/logo.PNG" class="imagee" slot="end" alt="" routerLink="/connexion">
    <ion-icon class="sig1" (click)="logout()" slot="end" name="log-out-outline" ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content id="#header" [fullscreen]="true">
  <!-- <ion-icon class="ARROW" name="arrow-back-outline"></ion-icon> -->
  <ion-back-button defaultHref="#" class="ARROW"></ion-back-button>

  <ion-icon class="search" name="search-outline"></ion-icon>
  <!-- <ion-button click="openNotification" class="notif"> -->
  <!-- <ion-tab-button click="openNotification"  class="notif">
      <ion-icon  name="notifications-circle-outline"></ion-icon>
      <ion-badge>6</ion-badge>
    </ion-tab-button> -->
  
        <!-- <ion-button fill="clear" class="notif" >
          <ion-icon name="notifications" ></ion-icon>
          <ion-badge>3</ion-badge>
        </ion-button> -->
   <!-- <ion-button (click)="voir()" expand="block"  shape="round" class="not">
    <ion-icon color="dark" name="notifications-circle-outline"  ></ion-icon>
      <ion-badge style="font-size: 9px;">56</ion-badge>
   </ion-button>   -->


  <!-- </ion-button> -->

  <h1 style="text-align: center; margin: auto;padding-top: 5px;">Ki-Lakodon</h1>
  <!-- <ion-icon name="log-in-outline" class="signup" routerLink="/inscription"></ion-icon> -->
  <!-- <ion-icon name="person-outline" class="login" routerLink="/connexion"></ion-icon> -->
  
  <!-- <p>Compte <br> Connectés <a href=""><ion-icon class="Add" name="add-circle-outline" routerLink="/sendmail"></ion-icon>

    </a></p> -->

  <ion-slides [options]="slideOpts " style="height: 30%!important;   width: 100%!important;">
    <ion-slide *ngFor="let listSite of ListeSite">
      <ion-card class="SITES">
        <p class="texthorizontale">Sites de Pub</p>
        <ion-icon class="add" name="add-outline"></ion-icon>
      </ion-card>
      <ion-card class="card-slides" size="2">
        <span>
          <img class="image" src="../../assets/{{listSite.image}}" alt="">
          <figcaption><a href="#" class="a">{{listSite.nomsitepopulaire}</a></figcaption>
          <figcaption class="figcaption">{{listSite.url}}</figcaption>
        </span>
      </ion-card>
     

    </ion-slide>
    
      
  </ion-slides>

  <ion-card class="css">
    <h1 class="text2">Les mises en rélation du effectuer</h1>
    

      <!-- <ion-button class="b">voir plus</ion-button> -->
     

    <ion-card class="crd" *ngFor="let idannonceur of ListeAnnonceur ">
    <div>
      <h2 class="bb">
        {{idannonceur.username}}
      </h2>
      <p class="bb2" style="color: #000;">Email:
        {{idannonceur.email}}
        <!-- N° de validation : 0989898989 -->
        
        {{idannonceur.adrresseannonceur}},
        <br>
        Budget:
        {{idannonceur.budgetannonceur}}
        <br>
        Téléphone :
        {{idannonceur.numeroannonceur}}
      </p>
      <a href="#"><ion-icon class="i" name="create-outline"></ion-icon></a>
      <a ><ion-icon class="ii" name="trash-outline"></ion-icon></a>
        
        
    </div>
      <img src="../../assets/accueil/1614275613-publicite-youtube.png" alt="" class="annonimg">
    </ion-card>

  </ion-card>

</ion-content>