<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446679859178-95o90lhislkbpkrpcbp300gpnpr4mp7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446679859178-95o90lhislkbpkrpcbp300gpnpr4mp7e</string>
	<key>API_KEY</key>
	<string>AIzaSyDFRWcwdkNaEHqqASiKT3Uw14T8158QwUk</string>
	<key>GCM_SENDER_ID</key>
	<string>446679859178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kilakodon.app</string>
	<key>PROJECT_ID</key>
	<string>ki-lakodon</string>
	<key>STORAGE_BUCKET</key>
	<string>ki-lakodon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446679859178:ios:c3d09acd8221748f2c3c93</string>
</dict>
</plist>